@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 171 85;
    --color-secondary: 214 64 69;
    --color-success: 0 204 136;
    --color-info: 68 51 255;
    --color-warning: 255 157 0;
    --color-error: 249 6 87;
    --color-disabled: 179 179 179;

    --tw-clr-primary-200: 219 255 0;
    --tw-clr-primary-300: 0 232 135;
    --tw-clr-primary-400: 0 224 243;
    --tw-clr-primary-500: 0 196 253;

    --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #DBFF00 */
    --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #00e887 */
    --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #00e0f3 */
    --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #00c4fd */

    --vp-home-hero-image-background-image: linear-gradient(
      -45deg,
      #bd34fe 50%,
      #47caff 50%
    );
    --vp-home-hero-image-filter: blur(40px);
  }

  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    list-style: none;
  }

  ::selection {
    background: rgba(var(--color-primary) / 0.3);
  }

  *:focus-visible {
    outline: none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply transition-all bg-white dark:bg-dark;
  }

  .cursor-newtab {
    cursor: url('/shared/new-tab.png') 10 10, pointer;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, var(--clr-primary-300), var(--clr-primary-400));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  @media (prefers-reduced-motion: reduce) {
    .animated-underline {
      transition: none;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible,
  .project-card:hover .animated-underline,
  .project-card:focus-visible .animated-underline {
    background-size: 0 2px, 100% 2px;
  }

  /* #region  /**=========== Animate Shadow =========== */
  .animate-shadow {
    @apply after:absolute after:inset-0 after:z-[-1] after:opacity-0 after:transition-opacity hover:after:opacity-100;
    @apply after:shadow-md dark:after:shadow-none;
  }
  /* #endregion  /**======== Animate Shadow =========== */
}

.storybook-app {
  @apply !bg-[#fff] dark:!bg-[#222];
}

.story-container {
  margin: 0;
  padding: 1rem;
  display: block;
  box-sizing: border-box;
}
